*{
    font-size: 40px;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0;
    padding: 04;
}
body{
    width: 100px;
   
    text-align: center;
    justify-content: center;
}
.one{
    background-color: pink;
}