<p>counter works!</p>
<div>
    
    <!-- <table class="table table-bordered">
        <thead>
          <tr>
            <th>STRMEAL</th>
            <th>IDMEAL</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let meal of mealsData?.meals">
              <td>{{meal.strMeal}}</td>
            <td>{{meal.idMeal}}</td>
           
            
          </tr>
        </tbody>
      </table> -->

      <ul *ngFor="let user of users">
         <li>{{user.name}}</li>
      </ul>
</div>