<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit(formdemo, userData)" #formdemo="ngForm">
          
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                class="form-control"
                [(ngModel)]="userData.username" 
                name="username"
                required>
            </div>
            
            <div class="form-group">
              <label for="email">Mail</label>
              <input
                type="email"
                id="email"
                class="form-control"
                [(ngModel)]="userData.email"
                name="email"
                required
                email
                #email="ngModel">
              <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
            </div>
          
          
          <div class="form-group">
            <label for="country">Select country</label>
            <select
              id="country"
              class="form-control"
              [(ngModel)]="userData.country"
              name="country">
              <option value="india">india</option>
              <option value="usa">USA</option>
              <option value="europe">europe</option>
              <option value="denmark">USA</option>
            </select>
          </div>
        
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                name="gender"
                [(ngModel)]="userData.gender"
                [value]="gender"
                required>
              {{ gender }}
            </label>
          </div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!formdemo.valid">Submit</button>
        </form>
      </div>
    </div>
  
  </div>
