<!-- <h3>Parent component message</h3>
<app-parent></app-parent>
<br>
<h3>child component message</h3>
<app-child></app-child> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-host-directives></app-host-directives> -->

<!-- <app-viewparent></app-viewparent> -->
<!-- <app-tempalate></app-tempalate> -->
<!-- <app-directiv></app-directiv> -->
<!-- <app-counter></app-counter> -->
<!-- <app-reactive></app-reactive> -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a  routerLink="/reactive" class="nav-link active" href="#">Reactive</a>
        </li>
        <li class="nav-item">
          <a routerLink="/template" class="nav-link" href="#">Template</a>
        </li>
        <li class="nav-item">
          <a routerLink="/counter" class="nav-link" href="#">Counter</a>
        </li>
        <li class="nav-item">
          <a routerLink="/directiv" class="nav-link " href="#">Directive</a>
        </li>
        <li class="nav-item">
            <a routerLink="/host-directives" class="nav-link " href="#">HostDirectives</a>
        </li>
        <li class="nav-item">
            <a routerLink="/pipes" class="nav-link " href="#">Pipes</a>
          </li>
          <li class="nav-item">
            <a routerLink="/viewparent" class="nav-link " href="#">viewparent</a>
          </li>
          <li class="nav-item">
            <a routerLink="/add-form" class="nav-link " href="#">AddForm</a>
          </li>
          <li class="nav-item">
            <a routerLink="/rxjs-operators" class="nav-link " href="#">Rxjs Operators</a>
          </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>


