.content{
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 2% 2%;
}

button{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}